body {
    font-family: "Poppins";
    background-color: #F6F6F6;
}

.typed-cursor {
    color: #3174FF !important;
}


.image-container {
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

.profile {
    text-align: center;
    position: relative;
}

.profile-img {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    object-fit: cover;
    opacity: 1;
    transition: opacity 0.3s ease;
    cursor: pointer;
}

.profile-name,
.profile-title {
    opacity: 0;
    transition: opacity 0.3s ease;
    margin-top: 0.5rem;
}

.image-container:hover .profile-img {
    opacity: 0.2;
}

.profile-img:hover {
    opacity: 1 !important;
}

.profile-img:hover+.profile-name,
.profile-img:hover+.profile-name+.profile-title {
    opacity: 1;
}

.bg-overlay::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.3;
}

.bg-overlay2::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.6;
}

@keyframes move-left-right {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(10px);
    }

    50% {
        transform: translateX(-10px);
    }

    75% {
        transform: translateX(10px);
    }

    100% {
        transform: translateX(0);
    }
}

.parent:hover .animate-move-left-right {
    animation: move-left-right 2s infinite;
}


.backface-hidden {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.perspective-1000 {
    perspective: 1000px;
}

.inner {
    transition: transform 1.5s;
    transform-style: preserve-3d;
    width: 100%;
    height: 500px;
    position: relative;
}

.swiper-slide:hover .inner {
    transform: rotateY(180deg);
}

.front,
.back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.back {
    transform: rotateY(180deg);
}

.rating{
    aspect-ratio: auto 125 / 20;
}

.imagesofSec{
    width: 110px;
    aspect-ratio: auto 110 / 48;
}

.customPosition{
    background-position: 60px bottom;
}

.hide{
    opacity: 0;
    display: none;
}

.conatinerHide:hover .hide{
    opacity: 1;
    display: inline;
}

footer {
    box-shadow: 0 -2px 3px rgba(0, 0, 0, 0.2) !important;
  }
  